@model UnitusCore.Controllers.PasswordForgotResponse
@{
    ViewBag.Title = "パスワードを忘れた場合";
    Layout = "/Views/_BaseLayout.cshtml";
}

@section Header{
    <link href="/Content/Styles/Login.css" rel="stylesheet">
}

<div class="table">
    <div class="table-cell">
        <div class="login-container">
            <img class="login-logo" src="/Content/logo.png" />
            <h1 class="login-header">パスワードの再発行</h1>
            <p>パスワードを忘れた場合は、ユーザー名として使用したメールアドレスを以下に入力してください。</p>
            <p>登録されているメールアドレスに再発行のためのアドレスが通知されます。</p>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                <input type="email" name="EmailAddress" class="form-control" placeholder="ユーザー名(電子メールアドレス)" />
                <input type="submit" value="送信" class="form-control btn btn-primary" />
            }
            @if (Model != null&&!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <p class="bg-danger">@Html.Raw(Model.ErrorMessage)</p>
            }
        </div>
    </div>
</div>