@{
    ViewBag.Title = "パスワード変更完了";
    Layout = "/Views/_BaseLayout.cshtml";
}

@section Header{
    <link href="/Content/Styles/Login.css" rel="stylesheet">
    <meta http-equiv="Refresh" content="3;URL=@(Url.Action("Index","Home"))" />
}

<div class="table">
    <div class="table-cell">
        <div class="login-container">
            <img class="login-logo" src="/Content/logo.png" />
            <h1 class="login-header">パスワード変更完了</h1>
            <p>パスワードの変更を完了しました。3秒後にホームに自動的に移動します。</p>
        </div>
    </div>
</div>