@{
    ViewBag.Title = "パスワードリセットメールを送りました";
    Layout = "/Views/_BaseLayout.cshtml";
}

@section Header{
    <link href="/Content/Styles/Login.css" rel="stylesheet">
}

<div class="table">
    <div class="table-cell">
        <div class="login-container">
            <img class="login-logo" src="/Content/logo.png" />
            <h1 class="login-header">送信完了</h1>
            <p>パスワードリセットメールを指定されたアドレスに送信しました。</p>
            <p>メールボックスを確認して、パスワードのリセットを試みてください。</p>
        </div>
    </div>
</div>