<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unitus-core.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>unitus-core.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>unitus-core</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$unitus-core</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cv4qa57efn.database.windows.net,1433;Initial Catalog=unitus-core_db;User ID=UnitusCore@cv4qa57efn;Password=wNTdzCtn%d" Name="Data Source=tcp:cv4qa57efn.database.windows.net,1433;Initial Catalog=unitus-core_db;User Id=UnitusCore@cv4qa57efn;Password=wNTdzCtn%d" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UnitusCore.Models.ApplicationDbContext, UnitusCore" MigrationConfiguration="UnitusCore.Migrations.Configuration, UnitusCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cv4qa57efn.database.windows.net,1433;Initial Catalog=unitus-core_db;User Id=UnitusCore@cv4qa57efn;Password=wNTdzCtn%d</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>